<!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
     <div class="container">
      <% if user_signed_in? %>
      <div class= "col-md-6">
      <% else %>
      <div>
      <%end%>
        <h1>Create Your Own Team Now</h1>
        <p>Pick from over 100 players. Challenge your friends to a game.</p>
        <% if user_signed_in? %>
        <p><a class="btn btn-primary btn-lg" href="newgame" role="button">Learn more &raquo;</a></p>
        <% else %>
        <p><a class="btn btn-primary btn-lg" href="../users/sign_up" role="button">Learn more &raquo;</a></p>
        <%end%>
      </div>
      <% if user_signed_in? %>
      <div class="col-md-6">
        <div class="container">
          <h2><%= current_user.name%>'s Games </h2></div>
          <div id="gamesTab" class="container">
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#1b" data-toggle="tab">Pending</a>
              </li>
              <li><a href="#2b" data-toggle="tab">Current</a>
              </li>
              <li><a href="#3b" data-toggle="tab">Played</a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active clearfix scroll" id="1b">
                <table class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Inviter</th>
                    <th>Picked</th>
                    <th>Invited</th>
                    <th>Picked</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% if @people.size == 0 %>
                      <tr>
                        <td colspan="4">No Games found.</td>
                      </tr>
                  <% else %>
                      <% @people.each do |person| %>
                      <% if current_user.email == person.inviter || current_user.email == person.invited %>
                      <% if (person.erPicked == "0" && person.edPicked =="1") || (person.erPicked == "1" && person.edPicked =="0") || (person.erPicked == "0" && person.edPicked =="0")%>
                          <tr>
                            <td><%= person.inviter %></td>
                            <td>
                              <% if person.erPicked == "1" %>
                                <input type="checkbox" checked="checked" disabled="disabled">
                              <%else%>
                              <input type="checkbox" disabled="disabled">
                              <%end%>
                            </td>
                            <td><%= person.invited %></td>
                            <td><% if person.edPicked == "1" %>
                              <input type="checkbox" checked="checked" disabled="disabled">
                            <%else%>
                            <input type="checkbox" disabled="disabled">
                            <%end%>
                          </td>

                          </tr>
                          <%end%>
                          <%end%>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="2b">
                <table class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Inviter</th>
                    <th>Picked</th>
                    <th>Invited</th>
                    <th>Picked</th>
                  </tr>
                  </thead>
                  <tbody>
                <% if @people.size == 0 %>
                    <tr>
                      <td colspan="4">No players found.</td>
                    </tr>
                <%else%>

                    <% @people.each do |person| %>
                    <% if current_user.email == person.inviter || current_user.email == person.invited %>
                      <%if person.erPicked == "1" && person.edPicked =="1"%>
                        <tr>
                          <td><%= person.inviter %></td>
                          <td>
                            <% if person.erPicked == "1" %>
                              <input type="checkbox" checked="checked" disabled="disabled">
                            <%else%>
                              <input type="checkbox" disabled="disabled">
                            <%end%>
                          </td>
                          <td><%= person.invited %></td>
                          <td>
                            <% if person.edPicked == "1" %>
                              <input type="checkbox" checked="checked" disabled="disabled">
                            <%else%>
                              <input type="checkbox" disabled="disabled">
                            <%end%>
                          </td>
                        </tr>
                    <%end%>
                    <%end%>
                <% end %>
                <%end%>
              </tbody>
            </table>
              </div>
              <div class="tab-pane" id="3b">
                <table class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Inviter</th>
                    <th>Score</th>
                    <th>Invited</th>
                    <th>Score</th>
                  </tr>
                  </thead>
                  <tbody>
                <% if @people.size == 0 %>
                    <tr>
                      <td colspan="4">No players found.</td>
                    </tr>
                <%else%>
                <% @people.each do |person| %>
                <% if current_user.email == person.inviter || current_user.email == person.invited %>
                <% if person.erScore && person.edScore %>
                    <tr>
                      <td><%= person.inviter %></td>
                      <td><%= person.erScore %></td>
                      <td><%= person.invited %></td>
                      <td><%= person.edScore %></td>
                    </tr>
                  <%end%>
                  <%end%>
                <%end%>
            <% end %>
            </tbody>
            </table>
              </div>
            </div>
          </div>
      </div>
      <% end %>
     </div>
   </div>

   <div class="container">
     <!-- Example row of columns -->
     <div class="row">
       <div class="col-md-4">
         <h2>Start a Game</h2>
         <p>Choose your sport!</p>
         <% if user_signed_in? %>
          <p><a class="btn btn-default" href="newgame" role="button">Learn more &raquo;</a></p>
         <% else %>
          <p><a class="btn btn-default" href="../users/sign_in" role="button">Learn more &raquo;</a></p>
         <%end%>
       </div>
       <div class="col-md-4">
         <h2>Invite a Friend</h2>
         <p>Invite your friends and challenge their knowledge of fantasy sports!</p>
         <% if user_signed_in? %>
          <p><a class="btn btn-default" href="newgame" role="button">View Details &raquo;</a></p>
         <% else %>
          <p><a class="btn btn-default" href="../users/sign_in" role="button">View Details &raquo;</a></p>
         <%end%>
      </div>
       <div class="col-md-4">
         <h2>Pick your Team</h2>
         <p>Select from a list of players and create the next CHAMPIONSHIP team!</p>
         <% if user_signed_in? %>
          <p><a class="btn btn-default" href="draft_team/new" role="button">View Details &raquo;</a></p>
         <% else %>
          <p><a class="btn btn-default" href="../users/sign_in" role="button">View details &raquo;</a></p>
         <%end%>
       </div>
     </div>


   </div> <!-- /container -->

 
